# Hello World

In [1]:
print("Hello World")

Hello World

# 주석처리

In [102]:
# 한 줄 주석처리 할때는 #을 붙인다

"""
여러 줄을 주석처리 할 때는 큰 따옴표 or 작은 따옴표 세게 사이에 사용한다. 줄의 수는 상관이 없다
"""
print("주석처리")

주석처리

#변수의 종류

In [3]:
num_int = 1
print(type(num_int))

num_float = 0.2
print(type(num_float))

bool_true = True
print(type(bool_true))

none_x = None
print(type(none_x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

# 사칙 연산

In [5]:
a = 5
b = 4
print('a + b = ', a+b)
print('a - b = ', a-b)
print('a * b = ', a*b)
print('a / b = ', a/b)
print('a // b = ', a//b)
print('a % b = ', a%b)
print('a ** b = ', a**b)

a + b =  9
a - b =  1
a * b =  20
a / b =  1.25
a // b =  1
a % b =  1
a ** b =  625

In [6]:
c = 4.0
d = 6.0
print('c + d =', c+d)
print('c - d =', c-d)
print('c * d =', c*d)
print('c / d =', c/d)
print('c // d =', c//d)
print('c % d =', c%d)
print('c ** d =', c**d)

c + d = 10.0
c - d = -2.0
c * d = 24.0
c / d = 0.6666666666666666
c // d = 0.0
c % d = 4.0
c ** d = 4096.0

# 문자열과 정수열 연산

In [108]:
# 문자열에 숫자를 더하기 위해선 어떻게 해야할까?
a = 1004
b = "천사"
c = a+b

print(c)
#위의 결과처럼 문자열과 숫자를 단순히 연산자로 더해줄 경우 오류가 발생한다

TypeError: ignored

In [109]:
# 이 문제를 해결하기 위해선 숫자(정수형, 실수형)을 문자형으로 바꿔줄 필요가 있다.

a = str(1004) #정수 1004를 str()로 묶어 문자형으로 변형해주었다.
b = "천사"
c = a+b

print(c)

1004천사

In [110]:
# 그렇다면 + 가 아닌 다른 연산자인 * 를 사용하면 어떻게 될까?

a = str(1004)
b = "천사"
c = a*b

print(c)

TypeError: ignored

In [113]:
# 위의 결과처럼 오류가 뜨지만, 이것이 문자형에 * 연산자를 사용하지 못함을 의미하는 것은 아니다.
a = str(1004)
b = "천사"
c = a+b

print(b*3)

# 위 결과처럼 "천사" 을  * 연산자를 사용해 3번 출력이 가능한 것을 확인 할 수 있다.
#응용

print((c+b)*3)
#이런식으로 복합 연산도 가능하다.

천사천사천사
1004천사천사1004천사천사1004천사천사

# 논리형 연산자

In [7]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [8]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

# 비교 연산자

In [9]:
print(4 > 3)
print(4 < 3)
print(4 >= 3)
print(4 <= 3)
print(4 > 4)
print(4 >= 4)

True
False
True
False
False
True

# 논리형 & 비교 연산자 응용

In [10]:
# input("숫자를 입력하세요")
data = input("숫자를 입력하세요")
data2 = int(data)
print(type(data2))

숫자를 입력하세요100
<class 'int'>

In [11]:
num1 = int(input("첫번째 숫자를 입력하세요: "))
num2 = int(input("두번째 숫자를 입력하세요: "))
num3 = int(input("세번째 숫자를 입력하세요: "))
num4 = int(input("네번째 숫자를 입력하세요: "))

var1 = num1 >= num2
var2 = num3 < num4
print(var1 and var2)

첫번째 숫자를 입력하세요: 5
두번째 숫자를 입력하세요: 4
세번째 숫자를 입력하세요: 3
네번째 숫자를 입력하세요: 2
False

# String

In [ ]:
print("'Hello, world!'")
print('"Hello, world!"')

# String Operators

In [12]:
str1 = "Hello "
str2 = "World "
print('str1 + str2 = ', str1 + str2)

str1 + str2 =  Hello World

In [13]:
greet = str1 + str2
print('greet * 3 = ', greet * 3)

greet * 3 =  Hello World Hello World Hello World

# Indexing

In [ ]:
greeting = "Hello Kaggle"
print(greeting[6])

Slicing

In [14]:
greeting = "Hello Kaggle"
print(greeting[:])
print(greeting[6:])
print(greeting[:6])
print(greeting[3:8])
print(greeting[0:9:2])

Hello Kaggle
Kaggle
Hello
lo Ka
HloKg

In [16]:
greeting[13]
"""
정해진 문자열 보다 더 큰 배열값이 들어갔기 때문에 null값이 출력되어야 하기 때문에 오류가 나온다
"""

IndexError: ignored

# 리스트

In [17]:
e = [['apple','banana','cherry'],1]

print(e[0][2])
a = [] # 빈 리스트
a_func = list() #list()함수로도 빈 리스트를 만들 수 있다.
b = [1] # 숫자도 요소가 될 수 있다.
c = ['apple'] # 문자열도 요소가 될 수 있다
d = [1, 2, ['apple']] # 리스트 안에 리스트를 요소로 넣을 수 있다.

print(a)
print(a_func)
print(b)
print(c)
print(d)

cherry
[]
[]
[1]
['apple']
[1, 2, ['apple']]

In [18]:
a =    [1,    2,   3]
# index [[0], [1], [2]]
print(a[0]) # 첫번째 요소
print(a[1]) # 두번째 요소
print(a[2]) # 세번째 요소
print(a[-1])

1
2
3
3

In [19]:
a = [['apple','banana','cherry']]

print(a[0]) # 리스트 내의 리스트
print(a[0][0]) # 리스트 내의 리스트의 첫번째 문자열
print(a[0][0][3]) # 리스트 내의 리스트의 첫번째 문자열 'apple' 중 첫번째 인덱스
print(a[0][1]) # 리스트 내의 리스트의 두번째 문자열

['apple', 'banana', 'cherry']
apple
l
banana

In [20]:
a = [1,2,3,4,5,6,7,8,9,10]

b = a[:4]  # 인덱스 0부터 3까지
c = a[1:4] # 인덱스 1부터 3까지
d = a[0:7:2] # 인덱스 0부터 6까지 인덱스 2씩 건너 띄우기
e = a[::-1] # 리스트 a의 역순
f = a[::2] # 리스트 전체구간에서 인덱스 2씩 건너띄우기

print("a[:4]", b)
print("a[1:4]", c)
print("a[0:7:2]", d)
print("a[::-1]", e)
print("a[::2]", f)

a[:4] [1, 2, 3, 4]
a[1:4] [2, 3, 4]
a[0:7:2] [1, 3, 5, 7]
a[::-1] [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
a[::2] [1, 3, 5, 7, 9]

In [21]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']
c = a+b

print(c)

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

In [101]:
a = ['a','b','c']
b = a*3
c = a*0
print("a * 3:", b)
print("a * 0:", c)

a * 3: ['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
a * 0: []

'\n문제에서 제공된 수의 범위를 보면 5부터 -9 까지 -2 씩 줄어드는 걸 알 수 있다. \nlist에서 range 메소드를 이용할 경우 ()안에 각각 값의 의미는 ((a,b,c) 일 경우 a=시작 숫자/b=끝 숫자/c= 숫자들의 증감폭) 이다.\n'

# 리스트 도장 연습문제
- range를 이용해 [5, 3, 1, -1, -3, -5, -7, -9]가 출력되게 만드세요

In [107]:
a = list(range(5,-10,-2))

print(a)

"""
문제에서 제공된 수의 범위를 보면 5부터 -9 까지 -2 씩 줄어드는 걸 알 수 있다. 
list에서 range 메소드를 이용할 경우 ()안에 각각 값의 의미는 ((a,b,c) 일 경우 a=시작 숫자/b=끝 숫자/c= 숫자들의 증감폭) 이다.
"""

[5, 3, 1, -1, -3, -5, -7, -9]

'\n문제에서 제공된 수의 범위를 보면 5부터 -9 까지 -2 씩 줄어드는 걸 알 수 있다. \nlist에서 range 메소드를 이용할 경우 ()안에 각각 값의 의미는 ((a,b,c) 일 경우 a=시작 숫자/b=끝 숫자/c= 숫자들의 증감폭) 이다.\n'

# 리스트 값 추가하기

In [23]:
a = [0,1,2]
a[1] = "b"
# a의 배열값 1을 "b"로 바꿔준다
print(a)

[0, 'b', 2]

# 리스트값 추가하기

In [24]:
a = [100, 200, 300]
a.append(400)
print(a)
# 맨처음 a 배열에 400을 뒤에 추가로 넣어준다.
a.append([500,600])
print(a)
# 400이 추가된 배열에 또 추가로 [500,600] 의 배열을 추가로 넣어준다.

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [25]:
a = [1,2,3]
a.extend([40,500])
print('a.extend([40,500]) result')
print(a)   
#append와 다르게 추가를 배열로 넣어줬지만, extend는 배열과 배열을 합쳐주는 거기 때문에 하나의 배열로 합쳐져 출력된다.

a.extend([40,500]) result
[1, 2, 3, 40, 500]

In [32]:
a = [0,1,2]

a.insert(4,5)
a.insert(4,"HI")
print(a)
# insert에서 ()안에서 앞의 숫자는 배열의 순서를 지정해주고, 뒤의 숫자는 배열에 들어갈 값을 의미한다.

[0, 1, 2, 5, 'HI']

In [52]:
a = [0,1,2,3]
a[0:0] = [100,200]
print(a)

# 시작과 끝의 범위보다 큰 수를 덮어쓰는 예시
b = [0,1,2,3]
b[1:1] = [100,200,300,400] 
print(b)

# 시작과 끝의 범위가 작을때의 예시
c = [0,1,2,3]
b[1:2] = [100,200,300,400] 
print(c)
# 잘 사용하지 않는다.

[100, 200, 0, 1, 2, 3]
[0, 100, 200, 300, 400, 1, 2, 3]
[0, 1, 2, 3]

# 리스트 값 삭제하기

In [56]:
a =[1,2,1,2]

#리스트의 첫번째 1이 삭제
a.remove(1)
print(a)

#리스트의 두번째 1이 삭제
a.remove(1)
print(a)
# remove를 이용하면 배열에 순서대로 삭제가 가능하다. 이때, 배열에 존재하지 않는 값을 넣을 경우 오류가 발생한다.

[2, 1, 2]
[2, 2]

In [59]:
a = [0,4,2,3,4,5,6,7,8,9]

# 1 삭제
del a[1]
print(a)
# del은 배열에 위치를 지정해서 삭제가 가능하다.
b = [0,1,2,3,4,5,6,7,8,9]
# 범위로 삭제
del b[1:3] #list는 항상 시작하는 index부터, 종료하는 n의 n-1까지의 범위를 잡아줍니다.
print(b)

[0, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 4, 5, 6, 7, 8, 9]

In [65]:
#인덱스를 지정한 pop()
a = [1,1,2,3,4]
r = a.pop(0)
# 윈도우의 잘라서 붙여넣기를 생각하면 쉽다.
print(a)
print(r)

[1, 2, 3, 4]
1

In [66]:
#인덱스를 지정하지 않은 pop()
b = ['a','b','c','d',]
x = b.pop()
# 인덱스를 지정하지 않을 경우 배열의 가장 끝의 값을 가져온다.
print(b)
print(x)

['a', 'b', 'c']
d

# 그 외 유용한 메서드

In [67]:
a = [0,1,2,3]
print(a)
# 배열의 모든 값을 삭제하는 메서드
a.clear()
print(a)

[0, 1, 2, 3]
[]

In [68]:
a = ["Gold", "Gold", "Silver", "Silver"]
print("Silver가 처음 등장하는 인덱스 번호", a.index("Silver"))
# 해당 값이 들어있는 배열의 번호를 출력하는 메서드

Silver가 처음 등장하는 인덱스 번호 2

In [70]:
a = [1, 4, 5, 2, 3]
b = ['a', 'c','f','b','d','e']

a.sort()
print("sort():",a)
# 무작위로 나열된 배열의 값을 내림차순으로 정렬하는 메서드
b.sort(reverse=True)
print("sort(reverse=True):", b)
# 무작위로 나열된 배열의 값을 오름차순으로 정렬하는 메서드
# 알파벳 순서도 가능하다.

sort(): [1, 2, 3, 4, 5]
sort(reverse=True): ['f', 'e', 'd', 'c', 'b', 'a']

In [71]:
b = [4,3,2,'a']

b.sort()
print(b)
# 단, 문자열과 정수를 혼합해서 정렬하는것은 불가능하다.

TypeError: ignored

# 튜플

In [72]:
tuple1 = (0) # 끝에 콤마(,)를 붙이지 않았을 때
tuple2 = (0,) # 끝에 콤마(,)를 붙여줬을 때
tuple3 = 0,1,2

print(tuple1)
print(tuple2)
print(tuple3)

print(type(tuple1)) # 콤마(,)를 붙여주지 않으면 튜플이 아닙니다.
print(type(tuple2)) # 콤마(,)를 붙여주어야 튜플 자료형 입니다.
print(type(tuple3)) # 여러개의 값 일경우 괄호를 없애주어도 튜플 자료형 입니다.

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [74]:
a = (0,1,2,3,'a')
del a[1]

TypeError: ignored

In [75]:
a = (0,1,2,3,'a')
a[1]='t'

TypeError: ignored

<strong>튜플은 리스트처럼 요소를 저장할 수 있지만, 리스트와 다르게 요소를 추가, 삭제, 변경 할 수 없다</strong>

# 튜플 인덱싱 및 슬라이싱 하기

In [76]:
t = (0,1,2,'b',4)

print(t[1])
print(t[3])

1
b

In [77]:
t = (0,1,2,3,4)
print(t[2:]) #시작만 설정할 경우 시작 순서부터 배열 끝까지 값을 가져온다.
print(t[0:2]) #시작과 끝을 지정할 경우 리스트와 마찬가지로 끝 지점은 설정 한 값보다 하나 작게 출력된다.

(2, 3, 4)
(0, 1)

# 튜플의 더하기 및 곱셈 연산자 사용

In [78]:
t1 = (0,1,2,3,4)
t2 = ('a','b','c')
t3 = t1+t2
print(t1+t2)
print(t3)
#튜플의 요소를 삭제, 추가, 변경은 불가능하지만, 튜플과 튜플을 합치는 것은 가능하다.

(0, 1, 2, 3, 4, 'a', 'b', 'c')
(0, 1, 2, 3, 4, 'a', 'b', 'c')

In [79]:
t1 = ('a',1)
print(t1*0)
print(t1*3)
# 튜플에 지정된 요소에 곱하기를 하는 것이 아닌, 요소 자체의 갯수를 늘려준다.

()
('a', 1, 'a', 1, 'a', 1)

# 딕셔너리

In [80]:
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}

print(dic['teacher'])
print(dic['class'])
print(dic['list'])

# 값을 : 을 통해 서로 연관하여 만든다

alice
5
[1, 2, 3]

In [82]:
dic = {'teacher':'alice', 'class': 5, 'studentid': '15', 'list':[1,2,3]}
print(dic['real'])

# 따로 지정해주지 않으면 나오지 않는다.

KeyError: ignored

In [81]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.keys()

# keys() 를 사용하면 연관지은 변수 명을 호출한다.

dict_keys(['name', 'job', 'age'])

In [83]:
a = {'name': 'bob', 'job': 'farmer', 'age': 35}
a.values()
# values() 를 사용하면 연관지어진 변수를 호출한다.

dict_values(['bob', 'farmer', 35])

In [85]:
a = {'name': 'chris', 'job': 'painter', 'age': 30}
print(a.get('name')) # 일반적인 딕셔너리로 연관지어진 값을 가져온다.
print(a.get('dinner')) # 따로 지정해주지 않았음으로 null값이기 때문에 None이 나온다
print(a.get('dinner', 'empty')) # 두 변수 모두 따로 지정해주지 않았지만, 첫번째 선언한 dinner가 null이기 때문에 뒤에 선언한 변수가 추가로 출력된다

chris
None
empty

# 집합 연산자

In [86]:
s = {}
print(type(s))

s = set()
print(type(s))

s = {1,2,3}
print(type(s))

<class 'dict'>
<class 'set'>
<class 'set'>

In [87]:
a = {1,3,5}
b = {2,4,6}

c = a|b
d = a.union(b)
print("a|b:", c)
print("a.union(b)", d)
# 두 집합을 합쳐주는 방법

a|b: {1, 2, 3, 4, 5, 6}
a.union(b) {1, 2, 3, 4, 5, 6}

In [ ]:
a = {1,3,5}
b = {2,4,6}
c = a&b
print(c)

e = {1,2,5}
f = {2,3,5}
g1 = e&f
g2 = e.intersection(f)
print("e&f:", g1)
print("e.intersection(f):", g2)
# 두 집합의 교집합을 출력하는 방법

In [ ]:
a = {1,3,5}
b = {2,4,5}

c1 = a-b
c2 = a.difference(b)
print("a-b:", c1)
print("a.difference(b)", c2)
# a와 b의 교집합을 제외하고난 a 집합의 값만 출력하는 방법

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

c1 = a^b
c2 = a.symmetric_difference(b)
print("a^b", c1)
print("a.symmetric_difference(b)", c2)
# a와 b집합의 차집합을 출력하는 방법

# if 조건문

In [89]:
a = 1

if a>5:
    print('a is bigger than 5')

elif a > 0:
    print("a is bigger than 0 but a is smaller than 5 ")

else:
    print("a is negative")

a is bigger than 0 but a is smaller than 5

In [114]:
x = 10
 
if x == 10:
     print('x에 들어있는 숫자는')
         print('10입니다.')     # unexpected indent 에러 발생

         #파이썬의 경우 들여쓰기가 문법으로 설정되어 있다. 위 코드의 경우 코드의 경우 들여쓰기 오류가 발생한 것이다.

IndentationError: ignored

In [117]:
x = 10
 
if x == 10:
     print('x에 들어있는 숫자는') #들여쓰기 4칸
     print('10입니다.')     
"""
이처럼 파이썬의 if문 문법의 기본 형태는
if a == n;
     print(dsadasd)
형식으로 if 문 다음 줄은 4칸의 들여쓰기를 해야한다.
다른 의미로는  :  로 끝나고 난 다음 줄은 반드시 들여쓰기를 해야한다.
"""

x에 들어있는 숫자는
10입니다.

'\n이처럼 파이썬의 if문 문법의 기본 형태는\nif a == n;\n     print(dsadasd)\n형식으로 if 문 다음 줄은 4칸의 들여쓰기를 해야한다.\n다른 의미로는  :  로 끝나고 난 다음 줄은 반드시 들여쓰기를 해야한다.\n'

# 반복문

In [90]:
for i in range(10):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [92]:
a = "Kaggle"

for x in a:
    print(x)

    if x == 'g':
        break

        #a에 들어간 Kaggle에서 g의 순서가 나올때까지 반복해서 g가 나올경우 g를 x에 넣고 출력한다.

K
a
g

In [91]:
alphabets = ['A', 'B', 'C']
for index, value in enumerate(alphabets): # 시퀀스 자료형이 들어간다
    print(index, value)

    # 알파벳 벨류에 들어간 배열이 끝날때 까지 전부 출력한다.

0 A
1 B
2 C